{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <center>
        <h2>Are you sure you want to delete the Product <br>"{{ object }}"</h2><br>
        {% buttons %}
            <button type="submit" class="btn btn-outline-danger">Confirm</button>
            <button type="button" class="btn btn-outline-warning">
                <a href="{% url 'index' %}">Cancel</a>
            </button>
        {% endbuttons %}
        </center>
    </form>
{% endblock %}